<template>
  <div id="app" class="container">
    <img src="./assets/logo.png">
    <h1>Vue and Firebase</h1>

    <div class="card">
      <div class="card-header">
        <h3>Add A Link</h3>
      </div>
      <div class="card-body">
        <form v-on:submit.prevent="Addlink" class="form-inline">
          <div class="form-group col-lg-3">
          <label for="">Title: </label>
          <input class="form-control col-lg-8" v-model="newLink.title" type="text" placeholder="title" >
          </div>
          <div class="form-group  col-lg-3">
          <label for="">Author: </label>  
          <input class="form-control col-lg-8" v-model="newLink.autor" type="text" placeholder="author" >
          </div>
          <div class="form-group  col-lg-3">
          <label for="">Url: </label>
          <input class="form-control col-lg-8" v-model="newLink.url" type="text" placeholder="url" >
          </div>
          <input type="submit" class="btn btn-success col-lg-3" value="Add">
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Links List</h3>
      </div>
      <div class="card-body">
        <table class="table table.striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="link in links">
              <td>
                <a target="_blank" v-bind:href="link.url">{{ link.title }}</a>
              </td>
              <td>
                {{link.autor}}
              </td>
              <td>
                <button v-on:click="deleteLink(link)" class="fa fa-trash btn btn-danger">
                
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Firebase from 'firebase';
import toastr from 'toastr';

let config = {
  apiKey: "AIzaSyDYCwETMoBv7A5EWps7ZP8A3UCvv7DsB1U",
  authDomain: "vuefire-acbc6.firebaseapp.com",
  databaseURL: "https://vuefire-acbc6.firebaseio.com",
  projectId: "vuefire-acbc6",
  storageBucket: "vuefire-acbc6.appspot.com",
  messagingSenderId: "584011036075"
};

let app = Firebase.initializeApp(config);
let db = app.database();

let linksRef = db.ref('links');

export default {
  name: 'App',
  firebase:{
    links: linksRef
  },
  data(){
    return{
      newLink:{
        title:'',
        autor:'',
        url:''
      }
    }
  },
  methods:{
    Addlink: function(){
      console.log(this.newLink);
      linksRef.push(this.newLink);
      this.newLink.title= "";
      this.newLink.autor="";
      this.newLink.url="";
    },
    deleteLink: function(link){
      linksRef.child(link['.key']).remove();
      toastr.success('Link Removed');
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
